# Basic scientific operations
numpy
scipy

# Visualization and point clouds
matplotlib
open3d

# Kalman Filter & variations
filterpy

# Image and video manipulation
opencv-python
cvzone
mediapipe
pyrealsense2