# Basic scientific operations
numpy
scipy

# Image and video manipulation
opencv-python
pyrealsense2
cvzone
mediapipe

# Visualization and point clouds
matplotlib
open3d

# Kalman Filter & variations
filterpy